.container {
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
}

.header {
    flex-grow: 1;
}

.login {

}

.logout {

}

.flash {

}

.artist-properties {
    border: 1px solid black;
}

.editdeletepane {

}